<% content_for :javascript_includes do %>

    <script type="text/javascript">

        $(document).ready(function() {

        });

    </script>
<% end %>

<div style="text-align: center;">
  <h1>Leaderboard</h1>
  <h5>Ends October 15th Midnight EDT</h5>
  <h5><%= link_to "View Past Seasons", leaderboard_archived_path, :style => "color: blue" %></h5>

  <%= paginate @player_list %>
  <br>
  <table id="leaderboard">
      <% @player_list.each_with_index do |player, index| %>
        <tr>
          <td><%= (@rank_start + index).to_s %></td>
          <td><%= link_to player.username, profile_path(player.username), :style => "color: blue" %></td>
          <td><%= player.current_points %></td>
        </tr>
      <% end %>
    </table>
</div>
