<% content_for :javascript_includes do %>

  <script>
    head.ready(function() {

      $('#maps').isotope({
        // options
        itemSelector : '.span2',
        layoutMode : 'fitRows',
        getSortData : {
          games : function ( $elem ) {
            return parseInt( $elem.find('.games').text(), 10 );
          },
          thumbs_up : function ( $elem ) {
            return parseInt( $elem.find('.thumbs-up-count').text(), 10 );
          },
          thumbs_down : function ( $elem ) {
            return parseInt( $elem.find('.thumbs-down-count').text(), 10 );
          }
        },
        sortBy : 'games',
        sortAscending : false,
        animationEngine: 'best-available',
        animationOptions: {
          duration: 750,
          easing: 'linear',
          queue: false
        }
      });

      $(".sentiment button").click(function() {
        var map = $(this).parents('.map').data('map_id');
        var vote = $(this).hasClass('upvote') ? 1 : 0;

        if (vote == 0) {
          $(this).parents('.map').addClass("thumb-down")
          $(this).parents('.map').removeClass("thumb-up")
        } else {
          $(this).parents('.map').addClass("thumb-up")
          $(this).parents('.map').removeClass("thumb-down")
        }

        $.ajax({
          type: "POST",
          url: "/maps/" + map + "/vote",
          data: { vote: vote.toString() },
          dataType: 'json'
        });
      });

      $("button.favorite").click(function() {
        var $map = $(this).parents('.map');
        var map = $map.data('map_id');
        var favorite = $map.hasClass('add-favorite') ? 1 : 0;

        if (favorite == 0) {
          $map.addClass("add-favorite")
          $map.removeClass("del-favorite")
        } else {
          $map.addClass("del-favorite")
          $map.removeClass("add-favorite")
        }

        $.ajax({
          type: "POST",
          url: "/maps/" + map + "/favorite",
          data: { favorite: favorite.toString() },
          dataType: 'json'
        });
      });

      // filter items when filter link is clicked
      $('#filters button').click(function(){
        var selector = $(this).attr('data-filter');
        $('#maps').isotope({ filter: selector });
      });

      $('#sort-by button').click(function(){
        // get href attribute, minus the '#'
        var sortName = $(this).attr('data-sort');
        $('#maps').isotope({ sortBy : sortName });
      });

      $('[rel="tooltip"]').tooltip();

    });
  </script>

  <style type="text/css">
    .sentiment button
    {
      box-shadow: 0 1px 88px rgba(255, 255, 255, 0.81) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    }

    .span3
    {
      margin-left: 10px;
    }

    .isotope-item {
      z-index: 2;
    }

    .isotope-hidden.isotope-item {
      pointer-events: none;
      z-index: 1;
    }

    i {
      margin-top: 3px;
    }

    .isotope,
    .isotope .isotope-item {
      /* change duration value to whatever you like */
      -webkit-transition-duration: 0.8s;
      -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
      -o-transition-duration: 0.8s;
      transition-duration: 0.8s;
    }

    .isotope {
      -webkit-transition-property: height, width;
      -moz-transition-property: height, width;
      -ms-transition-property: height, width;
      -o-transition-property: height, width;
      transition-property: height, width;
    }

    .isotope .isotope-item {
      -webkit-transition-property: -webkit-transform, opacity;
      -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
      -o-transition-property:      -o-transform, opacity;
      transition-property:         transform, opacity;
    }

      /**** disabling Isotope CSS3 transitions ****/

    .isotope.no-transition,
    .isotope.no-transition .isotope-item,
    .isotope .isotope-item.no-transition {
      -webkit-transition-duration: 0s;
      -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
      -o-transition-duration: 0s;
      transition-duration: 0s;
    }

    .map .favorite i {
      margin-top: 1px;
    }

    .map.del-favorite .favorite i.icon-star-empty {
      display:none;
    }

    .map.add-favorite .favorite i.icon-star {
      display:none;
    }

  </style>

<% end %>

<div id="maps-container" style="margin-top: 10px;">
  <div class="well well-small">
    <div id="sort-by" class="span3">
      <h3>Sort-By</h3>
      <div class="btn-group" data-toggle="buttons-radio" style="margin-bottom: 10px;">
        <button class="btn active" data-sort="games"><i></i># games</button>
        <button class="btn" data-sort="thumbs_up"># of <i class="icon-thumbs-up"></i></button>
        <button class="btn" data-sort="thumbs_down"># of <i class="icon-thumbs-down"></i></button>
      </div>
    </div>

    <div id="filters" class="span3">
      <h3>Filter</h3>
      <div class="btn-group" data-toggle="buttons-radio" style="margin-bottom: 10px;">
        <button class="btn active" data-filter="*">all<i></i></button>
        <button class="btn" data-filter=".thumb-up"><i class="icon-thumbs-up"></i></button>
        <button class="btn" data-filter=".thumb-down"><i class="icon-thumbs-down"></i></button>
        <button class="btn" data-filter=":not(.thumb-up):not(.thumb-down)">new<i></i></button>
        <button class="btn" data-filter=".del-favorite"><i class="icon-star"></i></button>
        <button class="btn" data-filter=".add-favorite"><i class="icon-star-empty"></i></button>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <ul id="maps" class="thumbnails">
    <% @maps.each do |map| %>
      <li class="map span2 <%= map_vote_class(@my_votes, map.id) %> <%= map_favorite_class(@my_library, map.id) %>" style="min-width: 170px;" data-map_id="<%= map.id %>">
        <div class="thumbnail" style="position: relative;">
          <button rel="tooltip" title="<%= map_tooltip_favorite(map_fav_count(@map_favorites, map)) %>" class="btn btn-mini favorite" href="#" style="position: absolute; top:0px; right:0px;">
            <%= map_fav_count(@map_favorites, map) %><i class="icon icon-star-empty"></i><i class="icon icon-star"></i>
          </button>
          <img src="<%= map.preview_url %>" alt="" style="height: 100px;">
          <h3><%= map.name %></h3>
          <hr style="margin: 0px 0px 10px 0px;">
          <h5>Games: <span class="games"><%= @map_counts[map.name] == nil ? "0" : @map_counts[map.name] %></span></h5>
          <h5>
            Author:
            <% if (map.user != nil) %>
              <a href="<%= profile_url(map.user.username) %>"><%= map.user.username %></a>
            <% else %>
              <a style="color:grey;" href="mailto:hello@warsocial.com?subject=I am the creator of <%= map.name %>&body=My username is: %0A%0AMy email is: %0A%0A">Claim this map!</a>
            <% end %>
          </h5>
          <% if (current_user != nil) %>
            <div class="btn-group sentiment" data-toggle="buttons-radio" style="margin-top: 10px;">
              <button rel="tooltip" title="<%= map_tooltip_like(map_vote_count(@map_votes, map, 1)) %>" type="button" class="upvote btn btn-mini btn-success <%= vote_active_class(@my_votes, map.id, 1) %>" style="width: 50%;">
                <span class="thumbs-up-count"><%=	map_vote_count(@map_votes, map, 1) %></span>
                <i style="margin-top: 1px;" class="icon-white icon-thumbs-up"></i>
              </button>
              <button rel="tooltip" title="<%= map_tooltip_unlike(map_vote_count(@map_votes, map, 0)) %>" type="button" class="btn btn-mini btn-danger <%= vote_active_class(@my_votes, map.id, 0) %>" style="width: 50%;">
                <span class="thumbs-down-count"><%=	map_vote_count(@map_votes, map, 0) %></span>
                <i style="margin-top: 1px;" class="icon-white icon-thumbs-down"></i>
              </button>
            </div>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

