<div class="modal" id="create_game" style="display: none;">
  <%= form_tag(create_game_home_index_path, :id => "create_game_form", :remote=>true) do %>

    <input type="hidden" value="" name="select_map" />
    <input type="hidden" value="" name="select_players" />
    <input type="hidden" value="" name="select_wager" />
    <input type="hidden" value="" name="game_type" />

    <div class="modal-body">
      <div class="well" style="height: 350px;">
        <div style="float: left; width: 200px; height: 310px;">
          <h3 style="margin-left: 60px; margin-bottom: 10px;">Map</h3>
          <div id="create_game_maps" style="width: 200px; height: 310px; overflow-y: scroll;">
            <ul class="thumbnails">
              <% @maps.each_with_index do |map, index| %>
                <li class="span2">
                  <a href="#" class="thumbnail <%= index == 0 ? "active" : "" %>" data-map="<%= map.name %>" onclick="return false;">
                    <img src="<%= map.preview_url %>" alt="">
                    <p style="margin-left: 5px; margin-top: 5px; margin-bottom: 5px;"><%= map.name %></p>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div style="float: right; width: 250px; height: 350;">
          <h3 style="margin-bottom: 10px; margin-left: 85px;">Players</h3>
          <div id="create_game_players" class="btn-group" data-toggle="buttons-radio">
            <button class="btn btn-large active" value="2" onclick="return false;">2</button>
            <button class="btn btn-large" value="3" onclick="return false;">3</button>
            <button class="btn btn-large" value="4" onclick="return false;">4</button>
            <button class="btn btn-large" value="5" onclick="return false;">5</button>
            <button class="btn btn-large" value="6" onclick="return false;">6</button>
            <button class="btn btn-large" value="7" onclick="return false;">7</button>
          </div>

          <h3 style="margin-top: 20px; margin-bottom: 10px; margin-left: 90px;">Wager</h3>
          <div id="create_game_wager" class="btn-group" data-toggle="buttons-radio">
            <button class="btn btn-large active" value="0" onclick="return false;">0</button>
            <button class="btn btn-large" value="50" onclick="return false;">50</button>
            <button class="btn btn-large" value="100" onclick="return false;">100</button>
            <button class="btn btn-large" value="200" onclick="return false;">200</button>
            <button class="btn btn-large" value="500" onclick="return false;">500</button>
            <button class="btn btn-large" value="2000" onclick="return false;">2k</button>
            <button class="btn btn-large" value="5000" onclick="return false;">5k</button>
            <button class="btn btn-large" value="10000" onclick="return false;">10k</button>
          </div>

          <h3 style="margin-top: 20px; margin-bottom: 10px; margin-left: 70px;">Game Type</h3>
          <div id="create_game_type" class="btn-group" data-toggle="buttons-radio">
            <button class="btn btn-large active" value="normal" onclick="return false;">Normal</button>
            <button class="btn btn-large" value="multiday" onclick="return false;">Multi-Day</button>
          </div>

        </div>

      </div>
    </div>
    <div class="modal-footer">
      <a href="#" data-dismiss="modal" class="btn">Cancel</a> <input type="submit" class="btn btn-success" value="Create">
    </div>
  <% end %>
</div>