<div id="game-main">
  <div id="top-players" class="players-container">
    <div class="players">
      <div id="game_seat_0" class="player">
        <div class="player-stats">
          <div class="avatar" style="background-color: #f8af01">
            <div class="action-endturn" style="display: none;">
              <%= link_to "End Turn", end_turn_home_index_path(:game_name => @game.name), :remote => true, :class => "end_turn btn btn-success", :style => "display: none;" %>
            </div>
          </div>
          <div class="info">
            <div class="name"></div>
            <div class="stats" style="display: none;">
              <div class="col1"><i class="icon-flag"></i><div class="place"></div></div>
              <div class="col2"><i class="icon-map-marker"></i><div class="lands"></div></div>
              <div class="col1"><i class="icon-star"></i><div class="dice"></div></div>
              <div class="col2"><i class="icon-cog"></i><div class="points"></div></div>
            </div>
            <div class="action-sit" style="display: none;">
              <%= link_to "Sit", sit_home_index_path(:game_name => @game.name, :seat => 1), :remote => true, :id => "sit_button", :class => "btn btn-large btn-success" %>
            </div>
            <div class="action-stand" style="display: none;">
              <%= link_to "Stand", stand_home_index_path(:game_name => @game.name), :remote => true, :class => "btn btn-large btn-danger" %>
            </div>
          </div>
        </div>
        <div class="medals">
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
        </div>
      </div>
      <div id="game_seat_2" class="player">
        <div class="player-stats">
          <div class="avatar" style="background-color: #c22b2b">
            <div class="action-endturn" style="display: none;">
              <%= link_to "End Turn", end_turn_home_index_path(:game_name => @game.name), :remote => true, :class => "end_turn btn btn-success", :style => "display: none;" %>
            </div>
          </div>
          <div class="info">
            <div class="name"></div>
            <div class="stats" style="display: none;">
              <div class="col1"><i class="icon-flag"></i><div class="place"></div></div>
              <div class="col2"><i class="icon-map-marker"></i><div class="lands"></div></div>
              <div class="col1"><i class="icon-star"></i><div class="dice"></div></div>
              <div class="col2"><i class="icon-cog"></i><div class="points"></div></div>
            </div>
            <div class="action-sit" style="display: none;">
              <%= link_to "Sit", sit_home_index_path(:game_name => @game.name, :seat => 3), :remote => true, :id => "sit_button", :class => "btn btn-large btn-success" %>
            </div>
            <div class="action-stand" style="display: none;">
              <%= link_to "Stand", stand_home_index_path(:game_name => @game.name), :remote => true, :class => "btn btn-large btn-danger" %>
            </div>
          </div>
        </div>
        <div class="medals">
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
        </div>
      </div>
      <div id="game_seat_4" class="player">
        <div class="player-stats">
          <div class="avatar" style="background-color: #603bb3">
            <div class="action-endturn" style="display: none;">
              <%= link_to "End Turn", end_turn_home_index_path(:game_name => @game.name), :remote => true, :class => "end_turn btn btn-success", :style => "display: none;" %>
            </div>
          </div>
          <div class="info">
            <div class="name"></div>
            <div class="stats" style="display: none;">
              <div class="col1"><i class="icon-flag"></i><div class="place"></div></div>
              <div class="col2"><i class="icon-map-marker"></i><div class="lands"></div></div>
              <div class="col1"><i class="icon-star"></i><div class="dice"></div></div>
              <div class="col2"><i class="icon-cog"></i><div class="points"></div></div>
            </div>
            <div class="action-sit" style="display: none;">
              <%= link_to "Sit", sit_home_index_path(:game_name => @game.name, :seat => 5), :remote => true, :id => "sit_button", :class => "btn btn-large btn-success" %>
            </div>
            <div class="action-stand" style="display: none;">
              <%= link_to "Stand", stand_home_index_path(:game_name => @game.name), :remote => true, :class => "btn btn-large btn-danger" %>
            </div>
          </div>
        </div>
        <div class="medals">
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
        </div>
      </div>
      <div id="game_seat_6" class="player">
        <div class="player-stats">
          <div class="avatar" style="background-color: #ad3bac">
            <div class="action-endturn" style="display: none;">
              <%= link_to "End Turn", end_turn_home_index_path(:game_name => @game.name), :remote => true, :class => "end_turn btn btn-success", :style => "display: none;" %>
            </div>
          </div>
          <div class="info">
            <div class="name"></div>
            <div class="stats" style="display: none;">
              <div class="col1"><i class="icon-flag"></i><div class="place"></div></div>
              <div class="col2"><i class="icon-map-marker"></i><div class="lands"></div></div>
              <div class="col1"><i class="icon-star"></i><div class="dice"></div></div>
              <div class="col2"><i class="icon-cog"></i><div class="points"></div></div>
            </div>
            <div class="action-sit" style="display: none;">
              <%= link_to "Sit", sit_home_index_path(:game_name => @game.name, :seat => 7), :remote => true, :id => "sit_button", :class => "btn btn-large btn-success" %>
            </div>
            <div class="action-stand" style="display: none;">
              <%= link_to "Stand", stand_home_index_path(:game_name => @game.name), :remote => true, :class => "btn btn-large btn-danger" %>
            </div>
          </div>
        </div>
        <div class="medals">
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
          <div class="medal"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="stage">
    <canvas id="canvas_shadow" width="600" height="420" style="z-index:0; position:absolute; left:0px; top:0px;">Your browser does not support the canvas element.</canvas>
    <canvas id="canvas_map" width="600" height="420" style="z-index:1; position:absolute; left:0px; top:0px;"></canvas>
    <canvas id="canvas_hilight_player" width="600" height="420" style="z-index:2; position:absolute; left:0px; top:0px;"></canvas>
    <canvas id="canvas_hilight_origin" width="600" height="420" style="z-index:2; position:absolute; left:0px; top:0px;"></canvas>

    <canvas id="canvas_hilight_destination" width="600" height="420" style="z-index:2; position:absolute; left:0px; top:0px;"></canvas>
    <canvas id="canvas_dice" width="600" height="420" style="z-index:3; position:absolute; left:0px; top:0px;"></canvas>
    <div id="dice_container" style="z-index:3; position:absolute; left:0px; top:0px; width:600px; height:420px;"></div>
    <canvas id="canvas_dice_box" width="600" height="420" style="z-index:4; position:absolute; left:0px; top:0px;"></canvas>
    <div id="dice_box_text_attacker" style="z-index:5; position:absolute; left:0px; top:0px;"></div>
    <div id="dice_box_text_defender" style="z-index:5; position:absolute; left:0px; top:0px;"></div>
    <%= image_tag("gameboard/texture.png", :id => 'pattern', :style => 'display:none') %>
    <%= image_tag("gameboard/dice1.png", :id => 'dice1', :style => 'display:none') %>
    <%= image_tag("gameboard/dice2.png", :id => 'dice2', :style => 'display:none') %>
    <%= image_tag("gameboard/dice3.png", :id => 'dice3', :style => 'display:none') %>
    <%= image_tag("gameboard/dice4.png", :id => 'dice4', :style => 'display:none') %>
    <%= image_tag("gameboard/dice5.png", :id => 'dice5', :style => 'display:none') %>
    <%= image_tag("gameboard/dice6.png", :id => 'dice6', :style => 'display:none') %>
    <%= image_tag("gameboard/dice_shadow.png", :id => 'dice_shadow', :style => 'display:none') %>

    <% if @dev_image %>
      <%= image_tag("gameboard/tile_grey.png", :id => 'tile0', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_orange.png", :id => 'tile1', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_blue.png", :id => 'tile2', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_border0.png", :id => 'tile_border0', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_border1.png", :id => 'tile_border1', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_border2.png", :id => 'tile_border2', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_border3.png", :id => 'tile_border3', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_border4.png", :id => 'tile_border4', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_border5.png", :id => 'tile_border5', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_grey_border0.png", :id => 'tile0_border0', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_grey_border1.png", :id => 'tile0_border1', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_grey_border2.png", :id => 'tile0_border2', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_grey_border3.png", :id => 'tile0_border3', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_grey_border4.png", :id => 'tile0_border4', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_grey_border5.png", :id => 'tile0_border5', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_orange_border0.png", :id => 'tile1_border0', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_orange_border1.png", :id => 'tile1_border1', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_orange_border2.png", :id => 'tile1_border2', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_orange_border3.png", :id => 'tile1_border3', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_orange_border4.png", :id => 'tile1_border4', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_orange_border5.png", :id => 'tile1_border5', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_blue_border0.png", :id => 'tile2_border0', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_blue_border1.png", :id => 'tile2_border1', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_blue_border2.png", :id => 'tile2_border2', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_blue_border3.png", :id => 'tile2_border3', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_blue_border4.png", :id => 'tile2_border4', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_blue_border5.png", :id => 'tile2_border5', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_border_in_dark0.png", :id => 'tile_border_in_dark0', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_border_in_dark1.png", :id => 'tile_border_in_dark1', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_border_in_dark2.png", :id => 'tile_border_in_dark2', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_border_in_dark3.png", :id => 'tile_border_in_dark3', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_border_in_dark4.png", :id => 'tile_border_in_dark4', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_border_in_dark5.png", :id => 'tile_border_in_dark5', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_border_in_lite0.png", :id => 'tile_border_in_lite0', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_border_in_lite1.png", :id => 'tile_border_in_lite1', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_border_in_lite2.png", :id => 'tile_border_in_lite2', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_border_in_lite3.png", :id => 'tile_border_in_lite3', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_border_in_lite4.png", :id => 'tile_border_in_lite4', :style => 'display:none') %>
      <%= image_tag("gameboard/tile_border_in_lite5.png", :id => 'tile_border_in_lite5', :style => 'display:none') %>
    <% end %>
  </div>

  <div id="bottom-players" class="players-container">
    <div id="game_seat_1" class="player">
      <div class="player-stats">
        <div class="avatar" style="background-color: #3760ae">
          <div class="action-endturn" style="display: none;">
            <%= link_to "End Turn", end_turn_home_index_path(:game_name => @game.name), :remote => true, :class => "end_turn btn btn-success", :style => "display: none;" %>
          </div>
        </div>
        <div class="info">
          <div class="name"></div>
          <div class="stats" style="display: none;">
            <div class="col1"><i class="icon-flag"></i><div class="place"></div></div>
            <div class="col2"><i class="icon-map-marker"></i><div class="lands"></div></div>
            <div class="col1"><i class="icon-star"></i><div class="dice"></div></div>
            <div class="col2"><i class="icon-cog"></i><div class="points"></div></div>
          </div>
          <div class="action-sit" style="display: none;">
            <%= link_to "Sit", sit_home_index_path(:game_name => @game.name, :seat => 2), :remote => true, :id => "sit_button", :class => "btn btn-large btn-success" %>
          </div>
          <div class="action-stand" style="display: none;">
            <%= link_to "Stand", stand_home_index_path(:game_name => @game.name), :remote => true, :class => "btn btn-large btn-danger" %>
          </div>
        </div>
      </div>
      <div class="medals">
        <div class="medal"></div>
        <div class="medal"></div>
        <div class="medal"></div>
        <div class="medal"></div>
        <div class="medal"></div>
        <div class="medal"></div>
        <div class="medal"></div>
        <div class="medal"></div>
        <div class="medal"></div>
      </div>
    </div>
    <div id="game_seat_3" class="player">
      <div class="player-stats">
        <div class="avatar" style="background-color: #5fb61f">
          <div class="action-endturn" style="display: none;">
            <%= link_to "End Turn", end_turn_home_index_path(:game_name => @game.name), :remote => true, :class => "end_turn btn btn-success", :style => "display: none;" %>
          </div>
        </div>
        <div class="info">
          <div class="name"></div>
          <div class="stats" style="display: none;">
            <div class="col1"><i class="icon-flag"></i><div class="place"></div></div>
            <div class="col2"><i class="icon-map-marker"></i><div class="lands"></div></div>
            <div class="col1"><i class="icon-star"></i><div class="dice"></div></div>
            <div class="col2"><i class="icon-cog"></i><div class="points"></div></div>
          </div>
          <div class="action-sit" style="display: none;">
            <%= link_to "Sit", sit_home_index_path(:game_name => @game.name, :seat => 4), :remote => true, :id => "sit_button", :class => "btn btn-large btn-success" %>
          </div>
          <div class="action-stand" style="display: none;">
            <%= link_to "Stand", stand_home_index_path(:game_name => @game.name), :remote => true, :class => "btn btn-large btn-danger" %>
          </div>
        </div>
      </div>
      <div class="medals">
        <div class="medal"></div>
        <div class="medal"></div>
        <div class="medal"></div>
        <div class="medal"></div>
        <div class="medal"></div>
        <div class="medal"></div>
        <div class="medal"></div>
        <div class="medal"></div>
        <div class="medal"></div>
      </div>
    </div>
    <div id="game_seat_5" class="player">
      <div class="player-stats">
        <div class="avatar" style="background-color: #27a7b2">
          <div class="action-endturn" style="display: none;">
            <%= link_to "End Turn", end_turn_home_index_path(:game_name => @game.name), :remote => true, :class => "end_turn btn btn-success", :style => "display: none;" %>
          </div>
        </div>
        <div class="info">
          <div class="name"></div>
          <div class="stats" style="display: none;">
            <div class="col1"><i class="icon-flag"></i><div class="place"></div></div>
            <div class="col2"><i class="icon-map-marker"></i><div class="lands"></div></div>
            <div class="col1"><i class="icon-star"></i><div class="dice"></div></div>
            <div class="col2"><i class="icon-cog"></i><div class="points"></div></div>
          </div>
          <div class="action-sit" style="display: none;">
            <%= link_to "Sit", sit_home_index_path(:game_name => @game.name, :seat => 6), :remote => true, :id => "sit_button", :class => "btn btn-large btn-success" %>
          </div>
          <div class="action-stand" style="display: none;">
            <%= link_to "Stand", stand_home_index_path(:game_name => @game.name), :remote => true, :class => "btn btn-large btn-danger" %>
          </div>
        </div>
      </div>
      <div class="medals">
        <div class="medal"></div>
        <div class="medal"></div>
        <div class="medal"></div>
        <div class="medal"></div>
        <div class="medal"></div>
        <div class="medal"></div>
        <div class="medal"></div>
        <div class="medal"></div>
        <div class="medal"></div>
      </div>
    </div>
  </div>
</div>