<div>
  <div style="position: relative;">
    <h3>Maps authored by <%= @user.username %></h3>
    <% if (current_user != nil && current_user.id == @user.id) %>
      <a class="btn btn-info" style="position: absolute; top: 0px; right: 0px;" href="/maps/new">Create New Map</a>
    <% end %>
  </div>
  <br>
  <ul id="maps" class="thumbnails">
    <% @user.maps.where("is_public = ? AND is_admin_only = ?", true, false).each do |map| %>
      <li class="span2" style="min-width: 170px;">
        <div class="thumbnail">
          <% if map.preview? %>
            <%= cl_image_tag(map.preview.path, { size: '168x100', crop: :fill }) %>
          <% else %>
            <img src="<%= map.preview_url %>" alt="">
          <% end %>
          <h3 style="margin-top: 5px;">
            <% if (current_user != nil && (current_user.admin? || current_user.id == map.user.id)) %>
              <a rel="tooltip" title="Click to edit map..." href="<%= edit_map_url(map.id) %>"><%= map.name %></a>
            <% else %>
              <%= map.name %>
            <% end %>
          </h3>
        </div>
      </li>
    <% end %>
  </ul>
</div>