<% require 'archived/archived_player' %>
<% require 'archived/archived_game' %>


<div class="span6" style="margin-left: 0px; width: 584px;">
  <h3>Recent Games</h3>
  <br>
  <table class="table table-condensed" style="font-size: .8em;">
    <thead>
    <tr>
      <th>When (utc)</th>
      <th>Game</th>
      <th>Place</th>
      <th>P/L</th>
      <th>Type</th>
    </tr>
    </thead>
    <tbody>
    <% @user.archived_games.order('created_at DESC').first(10).each do |game| %>
      <tr style="<%= game_row_class(game, @user) %>">
        <td><%=	game.created_at.strftime('%b %d %I:%M %p') %></td>
        <td><%=	game.name %></td>
        <td><%=	find_me(game, @user).finishing_place.to_s %></td>
        <td><%=	find_me(game, @user).delta_points.to_s %></td>
        <td><%=	game.game_type %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% if(current_user != nil && ["deadcode","dc"].include?(current_user.username)) %>
<div class="span3 well well-small" style="width: 291px;">
  <div>
    <%= high_chart("chart-points", @h) %>
  </div>
</div>
<% end %>



