<div class="popupouter modal" id="signup_popup" style="display: none;">
  <div class="popupinner">
      <div class="span4 offset">
        <div class="well">
          <legend>Register</legend>
          <%= form_for(User.new, :as => :user, :url => registration_path(:user)) do |f| %>

              <%= f.text_field :username, :class => "span3", :placeholder => "Username" %>
              <%= f.email_field :email, :class => "span3", :placeholder => "Email" %>
              <%= f.password_field :password, :class => "span3", :placeholder => "Password" %>

              <%= f.submit "Sign Up + Confirmation Email", :class => "btn btn-info", :style => "margin-top: 10px;" %>
          <% end %>
        </div>
      </div>
    </div>
</div>