<% content_for :javascript_includes do %>
  <script src="http://js.pusherapp.com/1.9/pusher.min.js" type="text/javascript"></script>
  <script type="text/javascript">
	$(document).ready(function() {
	  	// Enable pusher logging - don't include this in production
	    Pusher.log = function(message) {
	      if (window.console && window.console.log) window.console.log(message);
	    };

	    // Flash fallback logging - don't include this in production
	    WEB_SOCKET_DEBUG = true;

	    var pusher = new Pusher('f85901afd3e9eaff226f');
	    var channel = pusher.subscribe('home');
	    channel.bind('new_chat_line', function(data) {
		  	$('#chat_list').append($('<li>' + data.name + ': ' + data.entry + '</li>'));
	    });

		var user = <%= !current_user.nil? %>;

		if (user) {
			var stage = new Kinetic.Stage("container", 700, 500);
			var size = 25;
			/*for (row=0;row<1;row++) { //19
				for (col=0;col<27;col++) { //27
					(function(){
						var c = col;
						var r = row;
						var block = new Kinetic.Shape(function(color){
						    var context = this.getContext();
							context.rect(13 + (c * size), 12 + (r * size), size, size);
							context.lineWidth = 1;
							context.strokeStyle = "black";
							context.fillStyle = color;
							//context.shadowColor = "#bbbbbb";
							//context.shadowBlur = 20;
							//context.shadowOffsetX = 5;
							//context.shadowOffsetY = 5;
							context.fill();
							context.stroke();
						});
					
						block.addEventListener("click", function(){
							block.color = block.color == "yellow" ? "#00D2FF" : "yellow";
						    block.draw(block.color);
						});

						// add custom property
						block.color = "#00D2FF";

						stage.add(block);
						block.draw(block.color);
					}());
				}
			}*/
			
			var left = 13;
			var top = 12;
			var size = 25;
			var map = [
				[
					{x: 0, y: 0},
					{x: 3, y: 0},
					{x: 3, y: 1},
					{x: 4, y: 1},
					{x: 4, y: 3},
					{x: 3, y: 3},
					{x: 3, y: 2},
					{x: 2, y: 2},
					{x: 2, y: 4},
					{x: 1, y: 4},
					{x: 1, y: 3},
					{x: 0, y: 3} 
				],
				[
					{x: 0, y: 3},
					{x: 1, y: 3},
					{x: 1, y: 4},
					{x: 2, y: 4},
					{x: 2, y: 5},
					{x: 1, y: 5},
					{x: 1, y: 6},
					{x: 2, y: 6},
					{x: 2, y: 7},
					{x: 0, y: 7}
				],
				[
					{x: 4, y: 2},
					{x: 5, y: 2},
					{x: 5, y: 1},
					{x: 6, y: 1},
					{x: 6, y: 4},
					{x: 3, y: 4},
					{x: 3, y: 3},
					{x: 4, y: 3}
				],
				[
					{x: 2, y: 2},
					{x: 3, y: 2},
					{x: 3, y: 4},
					{x: 4, y: 4},
					{x: 4, y: 5},
					{x: 3, y: 5},
					{x: 3, y: 6},
					{x: 3, y: 6},
					{x: 1, y: 6},
					{x: 1, y: 5},
					{x: 2, y: 5}
				],
				[
					{x: 4, y: 4},
					{x: 5, y: 4},
					{x: 5, y: 6},
					{x: 6, y: 6},
					{x: 6, y: 7},
					{x: 5, y: 7},
					{x: 5, y: 8},
					{x: 5, y: 8},
					{x: 3, y: 8},
					{x: 3, y: 7},
					{x: 2, y: 7},
					{x: 2, y: 6},
					{x: 3, y: 6},
					{x: 3, y: 5},
					{x: 4, y: 5}
				]
			];
			var colors = ["red", "silver", "green", "yellow", "orange"];
			
			for (x=0;x<map.length;x++) {
				(function(){
					var l = x;
					var land = map[l];
					var block = new Kinetic.Shape(function(color){
						var context = this.getContext();
						context.beginPath();
		                context.lineWidth = 1;
		                context.strokeStyle = "black";
		                context.fillStyle = color;
		                context.moveTo(left + (land[0].x * size), top + (land[0].y * size));
						for (y=1;y<land.length;y++) {
							context.lineTo(left + (land[y].x * size), top + (land[y].y * size));
						}
		                context.closePath();
						//context.shadowColor = "#bbbbbb";
						//context.shadowBlur = 20;
						//context.shadowOffsetX = 5;
						//context.shadowOffsetY = 5;
		                context.fill();
		                context.stroke();
					});

					block.addEventListener("click", function(){
						block.color = block.color == "yellow" ? "#00D2FF" : "yellow";
					    block.draw(block.color);
					});
					
					// add custom property
					block.color = colors[l];

					stage.add(block);
					block.draw(block.color);
				}());
			}
		}
	});
  </script>
<% end %>



<% if user_signed_in? %>
  	You are signed in as <%= current_user.username %>. <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>.

	<div id="container" style="margin-right:auto;margin-left:auto;width:700px; height:500px; border:1px solid black;">
	</div>
	<div id="chat_window" class="bordered">
  		<ul id="chat_list">
  		</ul>
	</div>
	
	<center>
	<%= form_tag(add_line_home_index_path, :method=>'get', :remote=>true) do %>
		<%= text_field_tag 'entry', nil, { :size => 70, :id => 'entry', :class => "input"} %>
		<%= submit_tag "Send", { :class => "common_button" } %>
	<% end %>
	</center>
<% else %>
  	<%= form_for @user, :url => user_session_path do |f| %>
  	<div><%= f.label :email %><br />
  	<%= f.email_field :email %></div>
  	<div><%= f.label :password %><br />
  	<%= f.password_field :password %></div>
  	<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  	<div><%= f.submit "Sign in" %></div>
  	<% end %>
  	<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %> </br>
<% end %>
