<% content_for :title do %>
  <title>Play Risk Online - WarSocial</title>
<% end %>

<% content_for :javascript_includes do %>
  <%= render "shared/game_js_includes" %>
<% end %>

<div ng-controller="GameBoardCtrl" id="game-container">
  <div class="game">

    <%= render "shared/game_board2" %>

  </div>
  <div class="sidebar">
    <div id="game-details">
      <div class="wrapper" style="margin-top: 8px; margin-left: 10px;">
        <button id="dice_visible" type="button" class="btn btn-info" data-toggle="button"><i style="margin-top: 2px;" class="icon-eye-open icon-white"></i></button>
        <%= link_to '<i style="margin-top: 2px;" class="icon-flag icon-white"></i>'.html_safe, flag_home_index_path(:game_name => @game.name), :remote => true, :id => "game-forfeit", :class => "btn btn-danger", :style => "display:none;", :confirm => "Are you sure you want to surrender the battle?" %>

      </div>
      <div class="wrapper room" style="margin-left: 5px;"><div class="icon"><i class="icon-home icon-white"></i></div>{{game_name}}</div>
      <div class="wrapper wager"><div class="icon"><i class="icon-cog icon-white"></i></div>{{game_wager}}</div>
    </div>
    <div ng-controller="GameLogCtrl" id="log-window">
      <table style="width: 100%">
        <tbody>
          <tr ng-repeat="message in messages"
              ng-switch on="message.type">
            <td ng-switch-when="game_winner">
              <div><b><span style="color: black;">{{message.username}}</span> is the winner!</b></div>
            </td>
            <td ng-switch-when="attack">
              <div><b><span style="color: black;">{{message.username}}</span></b> {{message.verb}} {{message.vs}}, {{message.total}}, {{message.rolls}}</div>
            </td>
            <td ng-switch-when="turn_changed">
              <div class="divider"></div>
              <div><b><span style="color: black;">{{message.username}}</span>'s turn</b></div>
            </td>
            <td ng-switch-default>
              <div><b>Game started!</b></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-controller="GameChatCtrl" id="chat-window">
      <table style="margin-left: 5px; margin-right: 5px;">
        <tbody>
          <tr ng-repeat="message in messages"
              ng-switch on="message.type">
            <td ng-switch-when="server" class="well well-small">
              <span style="color: green;">{{message.text}}</span>
            </td>
            <td ng-switch-default>
              <span style=""><b>{{message.username}}</b></span>: {{message.text}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <% if user_signed_in? %>
      <%= form_tag(add_line_home_index_path, :id => "form-chat", :remote => true, :autocomplete => "off") do %>
        <%= hidden_field_tag 'game_name', @game.name %>
        <div class="label-over">
          <label for="entry">Type your message here...</label>
          <%= text_field_tag 'entry', nil, {:id => 'entry', :class => "input"} %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>