<% content_for :javascript_includes do %>
	<script src="http://js.pusherapp.com/1.9/pusher.min.js" type="text/javascript"></script>
	<script src="../../../Gameboard/ek-library.js" type="text/javascript"></script>
	<script src="../../../Gameboard/client-test-data.js" type="text/javascript"></script>
	<script src="../../../Gameboard/warsocial-client.js" type="text/javascript"></script>
  <script type="text/javascript">
	$(document).ready(function() {
	  	// Enable pusher logging - don't include this in production
	    Pusher.log = function(message) {
	      if (window.console && window.console.log) window.console.log(message);
	    };

	    // Flash fallback logging - don't include this in production
	    WEB_SOCKET_DEBUG = true;
			var pusher = new Pusher('f85901afd3e9eaff226f');
	    var channel = pusher.subscribe("<%= @game.name %>");
	    channel.bind('new_chat_line', function(data) {
		  	$('#chat_list').append($('<li>' + data.name + ': ' + data.entry + '</li>'));
	    });
	
			var terr = <%= @map.json %>;
		
			WSClient.init();
			initTestData(terr);
	});
  </script>
<% end %>

<% if user_signed_in? %>
  	You are signed in as <%= current_user.username %>. 
	<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>.
	
	<!-- you can take that style declaration out, I just want a border there for testing purposes -->
	<canvas id='gameboard' width=600 height=400 style="border: 1px solid black">If you don't see anything here, you are using a browser that does not support the HTML5 canvas element. Please use a browser that does support HTML5 to view this site.</canvas>

	<div id="chat_window" class="bordered">
  		<ul id="chat_list">
  		</ul>
	</div>
	
	<center>
	<%= form_tag(add_line_home_index_path, :method=>'get', :remote=>true) do %>
		<%= hidden_field_tag 'game_name', @game.name %>
		<%= text_field_tag 'entry', nil, { :size => 70, :id => 'entry', :class => "input"} %>
		<%= submit_tag "Send", { :class => "common_button" } %>
	<% end %>
	</center>
<% else %>
  	<%= form_for @user, :url => user_session_path do |f| %>
  	<div><%= f.label :email %><br />
  	<%= f.email_field :email %></div>
  	<div><%= f.label :password %><br />
  	<%= f.password_field :password %></div>
  	<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  	<div><%= f.submit "Sign in" %></div>
  	<% end %>
  	<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %> </br>
<% end %>
