<% content_for :javascript_includes do %>
  <%= render "shared/game_js_includes" %>
<% end %>

<div id="game-container">
  <div class="game">

    <%= render "shared/game_board2" %>

  </div>
  <div class="sidebar">
    <div id="game-details">
      <h5>Room: <%= @game.name %> - <%= "#{@game.wager_level} wager" %> - <%= "#{@game.max_player_count} seats" %></h5>
    </div>
    <div id="log-window">
      <table style="width: 100%">
        <tbody>
        </tbody>
      </table>
    </div>
    <div id="chat-window">
      <table style="margin-left: 5px; margin-right: 5px;">
        <tbody>
        </tbody>
      </table>
    </div>
    <% if user_signed_in? %>
      <div style="text-align: center; margin-top: 7px;">
        <%= form_tag(add_line_home_index_path, :id => "form_chat", :remote => true, :autocomplete => "off") do %>
          <%= hidden_field_tag 'game_name', @game.name %>
          <%= text_field_tag 'entry', nil, { :size => 70, :id => 'entry', :class => "input"} %>
          <%= submit_tag "Send", { :class => "common_button", :disable_with => "Sending...", :onClick => "_gaq.push(['_trackEvent', 'Buttons', 'Chat Submit']);" } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/game_lobby" %>
<%= render "shared/create_game2" %>
