<% content_for :javascript_includes do %>
  <%= render "shared/game_js_includes" %>
<% end %>

<div id="game">
  <div style="margin-bottom: 5px; font-size:.98em;">We are in alpha, so expect some bugs. If you can't play, try refreshing. Please report bugs in the <%= link_to "forum", "/forums/forums/1", :target => "_blank", :style => "color: blue" %>.</div>
  <div id="game_header">
    <div class="header_item" style="width:132px;">
      <h3 style="text-align: center; margin-top: 4px;"><%= @game.name %></h3>
    </div>
    <div class="header_item" style="width: 97px;">
      <h4 style="text-align: center; margin-top: 8px;"><%= "#{@game.wager_level} wager" %></h4>
    </div>
    <div class="header_item" style="width: 64px;">
      <h4 style="text-align: center; margin-top: 8px;"><%= "#{@game.max_player_count} seats" %></h4>
    </div>
    <div class="header_item" style="width:482px;">

    </div>
  </div>

  <%= render "shared/game_board" %>

  <div id="log_window">
    <table style="width: 100%">
      <tbody>
      </tbody>
    </table>
  </div>
  <div id="chat_window">
    <table style="margin-left: 5px; margin-right: 5px;">
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<% if user_signed_in? %>
  <div style="text-align: center;">
    <%= form_tag(add_line_home_index_path, :id => "form_chat", :remote => true, :autocomplete => "off") do %>
      <%= hidden_field_tag 'game_name', @game.name %>
      <%= text_field_tag 'entry', nil, { :size => 70, :id => 'entry', :class => "input"} %>
      <%= submit_tag "Send", { :class => "common_button", :disable_with => "Sending...", :onClick => "_gaq.push(['_trackEvent', 'Buttons', 'Chat Submit']);" } %>
    <% end %>
  </div>
<% end %>

<%= render "shared/game_lobby" %>
<%= render "shared/create_game" %>
