<!DOCTYPE html>
<html>
<head>

<%= yield :title %>

<meta HTTP-EQUIV="Content-Language" Content="en">
<meta name="Description" content="WarSocial is a free turn-based real time multiplayer HTML5 social strategy game inspired by Risk.">
<meta name="keywords" content="WarSocial, War Social, play risk, play risk online, play risk online free, conquerclub, kdice, dicewars, lux delux, dice wars, multiplayer dicewars, strategy games, strategy war games, free strategy games, real time strategy games, multiplayer strategy games, turn based games, html5 game, html5 games, html5 strategy games">
<meta property="og:image" content="<%= image_path "logo.png" %>"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" type="image/png" href="<%=image_path "icon.png"%>">
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<script src="/headjs/head.min.js"></script>

<% if !Rails.env.development? %>
  <%= stylesheet_link_tag "application" %>
<% else %>
  <%= stylesheet_link_tag "forem/twist/style" %>
<% end %>

<%= yield :javascript_includes %>

<%= csrf_meta_tags %>

<script>
  head.js('<%= js_to_add(@js_page_type).join("','").html_safe %>');
</script>

<script type="text/javascript">
  var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-29117828-1']); _gaq.push(['_setDomainName', 'warsocial.com']); _gaq.push(['_trackPageview']);
  (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
</script>

	<style type="text/css" media="screen">
		@font-face {
			font-family: Atrament-BoldSC;
			src: url('/Atrament/Atrament-7-BoldSC.otf');
		}

		@font-face {
			font-family: Atrament-Medium;
			src: url('/Atrament/Atrament-5-Medium.otf');
		}

		body {
		  background-color: white;
		  margin: 0px;
		}
		* {
		font-family: Arial;
		}
		a {
			color: #000;
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
		}

		div#wrapper {
			background: url(<%=image_path "middle_background.png"%>);
			background-position: center;
			background-repeat: repeat-y;
			width: 1049px;
			margin-left: auto;
			margin-right: auto;
			overflow: auto;
		}

		div#footer {
			background: url(<%=image_path "footer_background.png"%>);
			background-position: center;
			width: 1033px;
			height: 295px;
			margin-left: auto;
			margin-right: auto;
			margin-top: -8px;
			color: white;
		}

		div#footer .fourth {
			float: left;
			width: 210px;
			margin-top: 28px;
			margin-left: 40px;
		}

		div#footer a {
			color: white;
			font-size: .9em;
		}

		div#footer p.item {
			margin-top: 6px;
			margin-bottom: 6px;
		}

		div#footer p.title {
			font-size: 25px;
			font-family: Atrament-Medium;
		}

		div#side-bar {
			color: white;
			background: url(<%=image_path "sidepattern.png"%>);
			background-position: center;
			background-repeat: repeat-y;
			margin-left: 8px;
			width: 185px;
			float:left;
			border-left: 3px solid black;
			border-right: 3px solid black;
		}

		div.avatar {
			background-color: gray;
			background: url(<%=image_path "default_avatar2.png"%>);
			height: 50px;
			width: 50px;
			-moz-border-radius: 5px 5px;
			border-radius: 5px 5px;
			-moz-border-radius: 5px 5px;
			border-radius: 5px 5px;
		}

		div#side-bar div.avatar {
			margin-left: 10px;
			float:left;
		}

		div#side-bar #username {
			float:left;
			width: 110px;
			margin-left: 10px;
			margin-top: -3px;
			margin-bottom: 0px;
			font-size: 1.7em;
			font-family: Atrament-BoldSC;
		}

		div#side-bar .top_links {
			float:left;
			color: gray;
			font-size: .8em;
			margin-left: 10px;
		}

		div#side-bar a {
			color: white;
		}

		div#side-bar .logo {
			margin-left: auto;
			margin-right: auto;
		}

		div#main-wrapper {
			width: 849px;
			height: 1100px;
			float:left;
		}

		div#header {
			width: 849px;
			height: 90px;
		}

		div#header p {
			margin-top: 10px;
			margin-left: 35px;
			line-height: 30px;
			color: #3b3b3b;
			text-shadow: 0.07em 0.07em #dbdbdb;
			font-size: 1.7em;
			font-family: Atrament-BoldSC;
			width: 400px;
			float: left;
		}

		div#header .button {
			margin-top: 27px;
			margin-right: 10px;
			float: right;
		}

		div.bordered {
		margin: 0 auto;
		padding: 20px;
		border: 1px solid #ddd;
		}

		div#game {
			width: 776px;
			padding: 0;
			margin-left: auto;
			margin-right: auto;
			overflow: auto;
		}

		div#game_header {
			background: url(<%=image_path "game_header.png"%>);
			background-position: center;
			width: 776px;
			height: 42px;
		}

        div#game_header .header_item {
            float:left;
            height: 36px;
            padding-top: 2px;
        }

        div#game_main {
			width: 773px;
			border-left: 1px solid #C0C0C0;
			border-right: 1px solid #C0C0C0;
			border-bottom: 1px solid #C0C0C0;
            border-top: 1px solid #C0C0C0;
			margin-top: -2px;
            border-radius: 5px 5px 5px 5px;
            -moz-border-radius: 5px 5px 5px 5px;
			padding-top:10px;
		}

		div#game_main div.avatar {
			float:left;
		}

		div#game_main #top_players{
			width: 100%;
			height: 85px;
		}

		div#game_main #top_players .player{
			width: 150px;
			height: 85px;
			margin-left: 80px;
			float: left;
		}

		div#game_main #top_players .player_stat1{
			width: 150px;
			height: 50px;
			border: 1px solid #C0C0C0;
			-moz-border-radius: 5px 5px;
			border-radius: 5px 5px;
			-moz-border-radius: 5px 5px;
			border-radius: 5px 5px;
		}

		div#game_main #top_players .player_stat2 {
            padding-top:2px;
			width: 150px;
			height: 34px;
			margin-top: -3px;
			border-left: 1px solid #C0C0C0;
			border-bottom: 1px solid #C0C0C0;
			border-right: 1px solid #C0C0C0;
			-moz-border-radius-bottomright: 5px 5px;
			border-bottom-right-radius: 5px 5px;
			-moz-border-radius-bottomleft: 5px 5px;
			border-bottom-left-radius: 5px 5px;
            line-height: 10px;
		}

        div#game_main .player_stat2{
            text-align: center;
        }

        div#game_main .player_stat2 div {
            font-family: Arial;
            font-size: 9px;
            color: black;
            width: 73px;
            height: 17px;
            float: left;
        }

        div#game_main #top_players .player_stat2 div {
            width: 30px;
            height: 17px;
            margin-top: 2px;
            margin-left: 6px;
        }

		div#game_main #left_players{
			position: absolute;
			top:0px;
			left: 6px;
			width: 85px;
			height: 410px;
		}

		div#game_main #right_players{
			position: absolute;
			top:0px;
			left: 690px;
			width: 75px;
			height: 410px;
		}

		div#game_main #left_players .player{
			margin-top: 40px;
			width: 77px;
			height: 152px;
			float: left;
		}

		div#game_main #right_players .player {
			margin-top: 40px;
			width: 77px;
			height: 152px;
			float: left;
		}

		div#game_main .player div.ws_bordered {
			position:relative;
			width: 75px;
			height: 150px;
		}

		div#game_main #left_players div.avatar {
			margin-left: 13px;
		}

		div#game_main #right_players div.avatar {
			margin-left: 13px;
		}

		div#game_main div#top_players .name  {
			float: left;
			margin-left: 5px;
			width: 95px;
		}

		div#game_main div.player .name  {
			text-align: center;
			overflow: hidden;
			font-size: 1.0em;
			font-family: Atrament-BoldSC;
		}

        div#game_lobby_wrapper {
            height: 400px;
            width: 751px;
            display: none;
            background-color: white;
            position:relative;
            -moz-border-radius: 5px 5px;
            border-radius: 5px 5px;
        }

        div#lobby_content_wrapper {
            top: 34px;
            padding-top: 15px;
            height: 350px;
            width: 749px;
            border-bottom: 1px solid #D5D5D5;
            border-right: 1px solid #D5D5D5;
            border-left: 1px solid #D5D5D5;
            -moz-border-radius-bottomleft: 5px 5px;
            -moz-border-radius-bottomright: 5px 5px;
            border-bottom-left-radius: 5px 5px;
            border-bottom-right-radius: 5px 5px;
            position:absolute;
        }

        div#game_lobby_wrapper div.content_page {
            height: 300px;
            width: 730px;
            margin-left: auto;
            margin-right: auto;

        }

        div#game_lobby_wrapper tr.row_selected {
            background-color: grey;
        }

        div#game_lobby_wrapper .odd {
            background-color: #DADADA;
            font-family: Arial;
            font-size: 12px;
            font-weight: bold;

        }

        div#game_lobby_wrapper .even {
            background-color: #C9C9C9;
            font-family: Arial;
            font-size: 12px;
            font-weight: bold;
        }

        div#game_lobby_wrapper .DataTables_sort_icon {
            float: right;
        }

        div#game_lobby .nav .badge {
            float: right;
            margin-left: 10px;
            margin-top: -2px;
        }

        div#game_lobby .nav li a {
            background-color: grey;
            color: white;
        }

        div#game_lobby .nav li.active a {
            background-color: #3a87ad;
            color: white;
        }

        div#lobby_header {
            height: 47px;
        }

        div#lobby_header.online {
            background: url(<%=image_path "lobby/lobby_online_header.png"%>);
        }

        div#lobby_header.open_tables {
            background: url(<%=image_path "lobby/lobby_open_header.png"%>);
        }

        div#lobby_header.running_tables {
            background: url(<%=image_path "lobby/lobby_running_header.png"%>);
        }

        div#lobby_header.create_table {
            background: url(<%=image_path "lobby/lobby_create_header.png"%>);
        }

        div#lobby_header a.tab {
            position: relative;
            top: 10px;
        }

        table#open_tables {
            width: 730px;
            border-spacing: 0px 2px;
        }

        table#running_tables {
            width: 730px;
            border-spacing: 0px 2px;
        }

        div#create-header-top {
            width: 741px;
            height: 47px;
            background:url(<%=image_path "lobby/create_game_top.png"%>) no-repeat center right;
        }

        div#map_preview {
            margin-top: 20px;
            height: 250px;
        }

        div#create-header-bottom {
            width: 741px;
            height: 44px;
            background:url(<%=image_path "lobby/create_game_bottom.png"%>) no-repeat center right;
        }

        div#create_game a.thumbnail.active {
          color: white;
          background-color: #2F96B4
        }

        div#create_game button.active {
          color: white;
          background-color: #2F96B4
        }

        /*#simplemodal-container a.modalCloseImg {*/
            /*background:url(<%=image_path "lobby/x.png"%>) no-repeat; *//* adjust url as required */
            /*background-position: center;*/
            /*width:30px;*/
            /*height:34px;*/
            /*display:inline;*/
            /*z-index:3200;*/
            /*position:absolute;*/
            /*top: 3px;*/
            /*right: 4px;*/
            /*cursor:pointer;*/
        /*}*/

		.clear {
			clear: both;
		}

		div#chat_window {
            border: 1px solid #C0C0C0;
			-moz-border-radius: 5px 5px;
			border-radius: 5px 5px;
			-moz-border-radius: 5px 5px;
			border-radius: 5px 5px;
			height: 215px;
			overflow: auto;
		}

        div#chat_window tr {
            font-family: Arial;
            font-size: .75em;

        }

        div#log_window {
            border: 1px solid #C0C0C0;
            -moz-border-radius: 5px 5px;
            border-radius: 5px 5px;
            -moz-border-radius: 5px 5px;
            border-radius: 5px 5px;
            height: 175px;
            overflow: auto;
        }

        div#log_window tr {
            font-family: Arial;
            font-size: .75em;

        }

		.ws_bordered {
			border: 1px solid #C0C0C0;
			-moz-border-radius: 5px 5px;
			border-radius: 5px 5px;
		}

        /* These styles are related to SelectBox plugin */
        .customStyleSelectBox {
            background-color: #FFFFFF;
            border-radius: 7px 7px 7px 7px;
            color: #7C7C7C;
            font-size: 20px;
            height: 28px;
            width: 200px;
            padding: 0px 0px 0px 10px;
            margin-top: 8px;
            margin-left: 10px;
        }

        .customStyleSelectBox.changed {

        }

        /* on the next line we add a down arrow on the right to indicate that it is a select box */
        .customStyleSelectBoxInner {
            vertical-align: center;
            height: 29px;
            width: 200px;
            float: right;
            margin-right: -1px;
            background:url(<%=image_path "combo_arrow.png"%>) no-repeat center right;
        }

        /* Leaderboard styling */
        #leaderboard {
            margin-left: auto;
            margin-right: auto;
        }

        #leaderboard td {
            width: 150px;
            border-top: 1px solid black;
        }

        #main_nav a:hover {
            background-color: #3a87ad;
        }

        #game_lobby tbody tr:hover td {
            background-color: #3a87ad;
            color: white;
            cursor: pointer;
        }

        #game_lobby tr.seated td {
          color: #4169e1;
        }

        #game_lobby tr.turn td {
          color: red;
        }

        #DataTables_Table_0_next {
            margin-left: 10px;
        }

        #log_window div {
            margin-left: 5px;
            margin-right: 5px;
        }
        td div.divider {
            margin-top:5px;
            border-bottom: 1px solid grey;
        }

        #DataTables_Table_1_next {
            margin-left: 10px;
        }

	</style>


  <style type="text/css" media="screen">

    /*  NAVBAR  */

    #main-navbar {
      margin-bottom: 0px;
    }

    #main-navbar div.navbar-inner {
      box-shadow: none;
      min-height: 0px;
      background-image: none;
      background-repeat: no-repeat;
      background-color: #2C2C2C;
      border-radius: 0px;
    }

    #footer2 {
      height: 25px;
      background-color: #2C2C2C;
    }

    #game-container {
      border: 1px solid #E5E8E7;
    }

    #game-container:before, #game-container:after {
      clear: both;
      content: "";
      display: table;
    }

    #game-container #stage {
      position:relative;
      padding:0;
      width:600px;
      height:420px;
      margin-left: auto;
      margin-right: auto;
    }

    #game-container #game-controls {
      float:left;
    }

    #game-container div.game {
      /*border: 1px solid red;*/
      float: left;
      background-color: #A6CBE0;
    }

    #game-container div.sidebar {
      float:right;
      height: 620px;
      width: 392px;
    }

    #game-container div.players-container {
      background-color: #DCDDDD;
      /*border: 1px solid yellow;*/
      height: 100px;
    }

    #game-container div.players {
      width: 776px;
      margin-left: auto;
      margin-right: auto;
    }

    #game-container div.player {
      height: 100px;
      width: 193.75px;
      float: left;
    }

    #game-container div.player.active {
      color: white;
      background-color: #009F9D;
    }

    #game-container div.player.dead .avatar {
      opacity:0.4;
      filter:alpha(opacity=40);
    }

    #game-container div.player.dead .stats {
      opacity:0.4;
      filter:alpha(opacity=40);
    }

    #game-container div.player.dead .medals {
      opacity:0.4;
      filter:alpha(opacity=40);
    }

    #game-container div.player.dead .name {
      opacity:0.4;
      filter:alpha(opacity=40);
    }

    #game-container div.player div.avatar {
      margin-left: 5px;

      height: 75px;
      width: 75px;

      background: transparent url(<%=image_path "default_avatar2.png"%>) 0 0px no-repeat;
      background-position: center;

      -moz-border-radius: 0;
      border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;

      float: left;
    }
    #game-container div.player div.player-stats {
      height: 75px;
    }

    #game-container div.player div.info {
      float: right;
      width: 113px;
      height: 74px;
      overflow: hidden;
    }

    #game-container div.player div.name {
      text-align: center;
      width: 113px;
      margin-top: 3px;
    }

    #game-container div.player div.stats {
      font-family: Arial;
      font-size: .6em;
    }

    #game-container div.player div.stats i {
      float: left;
      margin-top: 0px;
    }

    #game-container div.player.active div.stats i {
      background-image: url('/bootstrap/img/glyphicons-halflings-white.png');
    }

    #game-container div.player div.stats div.col1 {
      width: 38px;
      float: left;
      margin-left: 17px;
      margin-top: 5px;
    }

    #game-container div.player div.stats div.col1 div {
      float: left;
      width: 20px;
      margin-left: 3px;
      line-height: 14px;
    }

    #game-container div.player div.stats div.col2 {
      width: 38px;
      float: left;
      margin-top: 5px;
    }

    #game-container div.player div.stats div.col2 div {
      float: left;
      width: 20px;
      margin-left: 3px;
      line-height: 14px;
    }

    #game-container div.player div.stats i.icon-star {
      background-image: url(<%=image_path "dice.png"%>);
      background-position: 0;
    }

    #game-container div.player div.action-endturn {
      margin-top: 13px;
    }

    #game-container div.player div.action-endturn a {
      padding-top: 6px;
      padding-bottom: 6px;
    }

    #game-container div.player div.action-sit {
      text-align: center;
      margin-top: 19px;
      width: 113px;
    }

    #game-container div.player div.action-stand {
      text-align: center;
      margin-top: 5px;
      width: 113px;
    }

    #game-container div.medals {
      height: 25px;
    }

    #game-container div.medal {
      float: left;
      background-color: #A4A5A5;
      height: 17px;
      width: 17px;
      margin-top: 4px;
      margin-left: 4px;
    }

    #game-details {
      height: 45px;
    }

    #game-details div.icon {
      float: left;
      background-color: #A4A5A5;
      height: 17px;
      width: 17px;
      margin-right: 5px;
      margin-top: 0px;

      border: 1px solid grey;
      -moz-border-radius: 5px 5px;
      border-radius: 5px 5px;
    }

    #game-details div.icon i {
      margin-left: 2px;
      margin-top: 2px;
    }

    #game-details div.wrapper {
      float: left;
      margin-top: 15px;
      margin-right: 15px;
    }

    #main-navbar div.navbar-inner {
      background-image: url(<%=image_path "logo2.png"%>);
      background-position: center;

    }

    ul.nav {
      font-size: .8em;
    }

    #log-window {
      height: 200px;
      border-top: 2px solid #E5E8E7;
      overflow: auto;
      padding-left: 5px;
    }

    #chat-window {
      border-top: 10px solid #E5E8E7;
      height: 313px;
      overflow: auto;
    }

    #form-chat {
      margin: 0px;
    }

    #form-chat input {
      margin: 0px;
      height: 31px;
      width: 375px;
    }

    #game-settings {
      position: absolute;
      z-index: 150;
      top: 454px;
      left: 589px;
    }

    #game-map-info {
      position: absolute;
      z-index: 150;
      top: 454px;
      left: 4px;
    }

    #game-main {
      position: relative;
      width: 775px;
    }

    #game-map-info.thumb-up i.icon-thumbs-up {
      background-position: -288px 0;
    }

    #game-map-info.thumb-down i.icon-thumbs-down {
      background-position: -288px 0;
    }

    #game-map-info.thumb-up #vote-text{
      display: none;
    }

    #game-map-info.thumb-down #vote-text{
      display: none;
    }

    /* label-over.js */
    div.label-over { position: relative; float: left; }
    label.over-apply { color: #ccc; position: absolute; top: 5px; left: 5px;}

    /* Landscape phones and down */
    @media (max-width: 480px) {

    }

    /* Landscape phone to portrait tablet */
    @media (max-width: 767px) {

    }

    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) {

    }

    /* Desktop */
    @media (min-width: 980px) and (max-width: 1199px) {
      #game-main {
        width: 655px;
      }

      #game-container div.sidebar {
        width: 283px;
      }

      #form-chat input {
        width: 265px;
      }

      #game-settings {
        top: 454px;
        left: 470px;
      }
    }

    /* Large desktop */
    @media (min-width: 1200px) {
      #game-main {
        width: 775px;
      }

      #game-container div.sidebar {
        width: 392px;
      }

      #form-chat input {
        width: 375px;
      }

      #game-settings {
        top: 454px;
        left: 589px;
      }
    }

  </style>

  <script type="text/javascript">
    head.ready(function() {
      <% if(@js_page_type == "profile") %>
        var lobby_modal = new Lobby("game_lobby");
        var create_game_modal = new CreateGame("create_game", <%= @maps.to_json.html_safe %>);
      <% else %>
        ws_init();
      <% end %>
    });
  </script>
</head>
<body>

<div class="container">
  <div class="navbar navbar-static" id="main-navbar">
    <div class="navbar-inner">
      <div style="width: auto;" class="container">
        <ul class="nav">
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" style="font-size: 1.5em;" href="#">
              WarSocial<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "How to Play", "http://blog.warsocial.com/post/18652746815/how-to-play-warsocial-rules-and-basic-strategy", :target => @isGame ? "_blank" : "_self" %></li>
              <li><%= link_to "Leaderboard", "/leaderboard", :target => @isGame ? "_blank" : "_self" %></li>
              <li><%= link_to "Maps Center", "/maps", :target => @isGame ? "_blank" : "_self" %></li>
              <li><%= link_to "Forum", "/forums/forums/1", :target => @isGame ? "_blank" : "_self" %></li>
              <!--<li><%= link_to "Map Creator", "http://blog.warsocial.com/post/18214496263/ma1achais-map-creator", :target => @isGame ? "_blank" : "_self" %></li>-->
              <li><%= link_to "Blog", "http://blog.warsocial.com", :target => @isGame ? "_blank" : "_self" %></li>
              <!--<li><%= link_to "Jobs", "http://jobs.warsocial.com/", :target => @isGame ? "_blank" : "_self" %></li>-->
              <li><%= link_to "Email Us", "mailto:hello@warsocial.com" %></li>
            </ul>
          </li>
        </ul>

        <ul class="nav">
          <li><%= link_to "Create Game", "#", "data-toggle" => "modal", :href => "#create_game", :onClick => "_gaq.push(['_trackEvent', 'Buttons', 'Create Game']);".html_safe %></li>
          <li><%= link_to "Lobby", "#", "data-toggle" => "modal", :href => "#game_lobby", :onClick => "_gaq.push(['_trackEvent', 'Buttons', 'Lobby']);".html_safe %></li>
        </ul>

        <% if (current_user != nil) %>
        <ul class="nav pull-right">
          <li class="dropdown" id="fat-menu">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <%= current_user.username %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", profile_path(current_user.username), :target => "_blank" %></li>
              <li><%= link_to "Settings", "#", "data-toggle" => "modal", :href => "#settings", :onClick => "_gaq.push(['_trackEvent', 'Link', 'Settings']);".html_safe %></li>
              <li class="divider"></li>
              <li><%= link_to "Logout", "/users/sign_out", :method => :delete %></li>
            </ul>
          </li>
        </ul>
        <% end %>
      </div>
    </div>
  </div>
  <%= yield %>
  <div id="footer2"></div>
</div>

<%= render "shared/settings" %>

<% if(@js_page_type == "profile" || @js_page_type == "game" || @js_page_type == "maps") %>
  <%= render "shared/game_lobby" %>
  <%= render "shared/create_game2" %>
<% end %>
</body>
</html>