<!DOCTYPE html>
<html>
<head>
  <title>Dice</title>

	<%= javascript_include_tag "application" %>
  <%= yield :javascript_includes %>

  <%= csrf_meta_tags %>

<style type="text/css" media="screen">
@font-face {
	font-family: Atrament-BoldSC;
	src: url('/Atrament/Atrament-7-BoldSC.otf');
}

body { 
  background: #dbdbdb url(<%=image_path "background.png"%>);
  background-position: center;
	background-repeat: no-repeat;
	margin: 0px;
}
* {
font-family: Arial;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

div#wrapper {
	background: url(<%=image_path "middle_background.png"%>);
	background-position: center;
	background-repeat: repeat-y;
	width: 1049px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

div#footer {
	background: url(<%=image_path "footer_background.png"%>);
	background-position: center;
	width: 1033px;
	height: 295px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -8px;
}

div#side-bar {
	color: white;
	background: url(<%=image_path "sidepattern.png"%>);
	background-position: center;
	background-repeat: repeat-y;
	margin-left: 8px;
	width: 185px;
	height: 900px;
	float:left;
	border-left: 3px solid black;
	border-right: 3px solid black;
}

div#side-bar a {
	color: white;
}

div#side-bar .logo {
	margin-left: auto;
	margin-right: auto;
}

div#main-wrapper {
	width: 849px;
	height: 900px;
	float:left;
}

div#header {
	width: 849px;
	height: 130px;
}

div#header p {
	margin-top: 10px;
	margin-left: 35px;
	line-height: 30px;
	color: #3b3b3b;
	text-shadow: 0.07em 0.07em #dbdbdb;
	font-size: 1.7em;
	font-family: Atrament-BoldSC;
	width: 400px;
	float: left;
}

div#header .button {
	margin-top: 27px;
	margin-left: 10px;
	float: left;
}

div.bordered {
margin: 0 auto;
padding: 20px;
border: 1px solid #ddd;
}

div#game {
	width: 776px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

div#game_header {
	background: url(<%=image_path "game_header.png"%>);
	background-position: center;
	width: 776px;
	height: 42px;
}

div#game_main {
	width: 773px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	margin-top: -2px;
	-moz-border-radius-bottomright: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	-moz-border-radius-bottomleft: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

.input {
	width:550px;
	padding:5px;
	-webkit-border-radius: 3px;
	font-size: 1.2em;
}
.common_button {
 -moz-border-radius:5px;
 -webkit-border-radius:5px;
 border:1px solid #ADADAD;
 background-color:#f1eeee;
 font-weight:bold;
 font-size: 1em;
 padding:4px 15px;
 margin-top:10px;

 color: #333;
 cursor: pointer;
}
.common_button:hover { background-color:#dcd9d9; }
</style>
</head>
<body>

	<div id="wrapper">
		<div id="side-bar">
			<center>
				<%=image_tag("logo.png", :class => 'logo')%>
			</center>
			
			<% if user_signed_in? %>
				You are signed in as <%= current_user.username %>.
				<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>.
			<% end %>
		</div>
		<div id="main-wrapper">
			<div id="header">
				<p>WarSocial is a free online social strategy game similar to risk and dicewars. Try it now!</p>
				<% if !user_signed_in? %>
					<%= link_to image_tag("buttons/facebook_login_button.png", :border => 0), user_omniauth_authorize_path(:facebook), :class => 'button' %>
					<%= link_to image_tag("buttons/register_button.png", :border => 0), new_user_registration_path, :class => 'button' %>
					<%= link_to image_tag("buttons/login_button.png", :border => 0), new_user_session_path,:class => 'button' %>
				<% end %>
			</div>
			<div id="content">
				<%= yield %>
			</div>
		</div>
	</div>
	<div id="footer">
	
	</div>

</body>
</html>